/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #1f1f22   ;
  --secondary-color: #E7C24F ;
  --accent1-color: #522722;
  --accent2-color: white;

  /* change the values below to your chosen font(s) */
  --heading-font: "Times New Roman";
  --paragraph-font: Lato, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #1f1f22;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #1f1f22; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #1f1f22  ;
  --nav-link-color: #1f1f22;
  --nav-background-color: #D4AC0D;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #1f1f22;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  max-width: 800px;
  display: block;
  margin: 0 auto;
  justify-self: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}

nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {

  text-align: center;

}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}

/* =========================
   WIREFRAME STYLES (W09)
   ========================= */
.wireframe{
  border: 2px solid #999;
  padding: 18px;
  margin: 18px 0 28px;
  background: #fff;
}

.wf-header, .wf-footer{
  border: 2px dashed #999;
  padding: 12px;
  display: grid;
  gap: 10px;
}

.wf-header{
  grid-template-columns: 120px 1fr;
  align-items: center;
}

.wf-logo, .wf-nav{
  border: 2px dashed #bbb;
  padding: 10px;
  background: #f7f7f7;
}

.wf-hero{
  margin-top: 14px;
  display: grid;
  grid-template-columns: 1.2fr .8fr;
  gap: 14px;
}

.wf-section{
  margin-top: 14px;
  border: 2px dashed #bbb;
  padding: 12px;
  background: #fafafa;
}

.wf-two-col{
  margin-top: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 14px;
}

.wf-text, .wf-image{
  border: 2px dashed #bbb;
  padding: 12px;
  background: #fff;
  min-height: 90px;
}

.wf-cards{
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.wf-card{
  border: 2px dashed #bbb;
  padding: 12px;
  background: #fff;
  min-height: 60px;
}

@media (max-width: 800px){
  .wf-header{grid-template-columns: 1fr;}
  .wf-hero{grid-template-columns: 1fr;}
  .wf-two-col{grid-template-columns: 1fr;}
  .wf-cards{grid-template-columns: 1fr;}
}
